.modal-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,0.4);
    display:flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color:#fff;
    width:320px;
    border-radius:6px;
    position:relative;
}

.modal-image{
    width:100%;
    border-radius:6px 6px 0 0;
}

.modal-textarea{
    padding:20px;
}

.modal-name{
    font-size:24px;
}

.modal-kana{
    font-size:15px;
}

.modal-adana{
    padding-top:8px;
    font-size: 14px;
}

.modal-department{
    padding-top:8px;
    font-weight:bold;
}

.modal-mail{
    font-size: 14px;
}

.modal-date{
    font-size: 14px;
}

.modal-PR{
    position: absolute;
    background-color: snow;
    border-radius: 14px;
    right: -60px;
    top: 20px;
    transform: rotate(15deg);
    opacity:0;
    transition:all 0.4s ease;
}

.modal:hover .modal-PR{
    opacity:1;
    padding: 8px;
    font-size:18px;
}

